.create-container {
  height: 100%;
  text-align: center;
}

.create-container h3 {
  text-align: start;
}

.create-alignment {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.inp {
  width: 100%;
  display: flex;
}

select {
  margin: 1em 0;
  width: 50%;
  display: flex;
}

.form-align-items {
  align-items: center;
  display: flex;
}

button {
  margin: auto;
  background: gray;
  border-radius: 5px;
  &:hover { background: #999 }
}

input.ng-dirty.ng-invalid {
  color: red
}