<div class="help-container help-alignment">
    <h3>{{'CLEAR.TITLE'|translate}}</h3>
    <div>{{'CLEAR.CLEAR'|translate}}</div>
    <div class="delete-buttons">
        <button style="background: #a94442" md-button (tap)="clearArticles($event)">{{'CLEAR.YES'|translate}}</button>
        <button style="background: gray" md-button (tap)="cancel()">{{'CLEAR.CANCEL'|translate}}</button>
        <button style="background: gray" md-button (tap)="cancelCookie()">{{'CLEAR.COOKIE'|translate}}</button>
    </div>
</div>