<div style="height:100%">
    <md-toolbar color="primary">
        <span style="padding-left: 1em;">
            <span *ngIf="isMobile" (tap)="toggleNav()" style="position:relative;top:5px"><md-icon>menu</md-icon></span>
            Fergg!
        </span>
        <span style="flex:1 1 auto;"></span>
        <span class="toolbar-img-align" style="cursor: pointer;" (tap)="goToShoppingList()">
            <img alt="go to shopping list" src="./../assets/images/logo_fergg_100px.jpg">
        </span>

        <md-toolbar-row class="toolbar-subtext" id="sListTitle">
            {{'APP.SUBTITLE'|translate}}
        </md-toolbar-row>
    </md-toolbar>

    <md-sidenav-container>
        <md-sidenav *ngIf="isMobile" #start mode="over" opened="false" (open)="closeStartButton.focus()">
            <div class="nav-container">
                <div class="nav-item" (tap)="start.close()">
                    <a [routerLink]="['/create']" style="outline: none;">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_create_new_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.CREATE'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" (tap)="start.close()">
                    <a [routerLink]="['/lists']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_my_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.LIST'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="edit" (tap)="start.close()">
                    <a [routerLink]="['/editlist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_edit_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.EDIT'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="clear" (tap)="start.close()">
                    <a [routerLink]="['/clearlist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_clear_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.CLEAR'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="delete" (tap)="start.close()">
                    <a [routerLink]="['/deletelist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_delete-shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.DELETE'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="finished" (tap)="start.close()">
                    <a [routerLink]="['/finishlist']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_mark_shopping_as_finished.png">
                        <span class="sidenav-tems-align">{{'APP.FINISH'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" *ngIf="localUser" (tap)="start.close()">
                    <a [routerLink]="['/manage']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_manage_catalog.png">
                        <span class="sidenav-tems-align">{{'APP.CATALOG'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" (tap)="start.close()">
                    <a [routerLink]="['/help']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_help.png">
                        <span class="sidenav-tems-align">{{'APP.HELP'|translate}}</span>
                    </a>
                </div>
            </div>
            <br>
            <button style="display: none;" md-button #closeStartButton (click)="start.close()">Close</button>
        </md-sidenav>
        <md-sidenav class="is-mobile-sidenav" *ngIf="!isMobile" #end mode="side" align="start" opened="true">
            <div class="nav-container">
                <div class="nav-item">
                    <a [routerLink]="['/create']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_create_new_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.CREATE' | translate}}</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a [routerLink]="['/lists']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_my_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.LIST'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="edit">
                    <a [routerLink]="['/editlist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_edit_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.EDIT'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="clear">
                    <a [routerLink]="['/clearlist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_clear_shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.CLEAR'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="delete">
                    <a [routerLink]="['/deletelist',{email:localUser}]">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_delete-shopping_list.png">
                        <span class="sidenav-tems-align">{{'APP.DELETE'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" style="display: none" id="finished">
                    <a [routerLink]="['/finishlist']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_mark_shopping_as_finished.png">
                        <span class="sidenav-tems-align">{{'APP.FINISH'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item" *ngIf="localUser">
                    <a [routerLink]="['/manage']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_manage_catalog.png">
                        <span class="sidenav-tems-align">{{'APP.CATALOG'|translate}}</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a [routerLink]="['/help']">
                        <img alt="" class="sidenav-tems-align"
                             src="./../assets/images/nav_help.png">
                        <span class="sidenav-tems-align">{{'APP.HELP'|translate}}</span>
                    </a>
                </div>
            </div>
        </md-sidenav>
        <div class="content">
            <div class="app-main-container">
                <router-outlet></router-outlet>
            </div>
            <div class="app-footer-container" color="primary">
                <span style="width:60%">{{'APP.CONTACT'|translate}}</span>
                <span style="width:10%"><img alt="Facebook" height="24px" src="./../assets/images/btn-footer-facebook.png"></span>
                <span style="width:10%"><img alt="Twitter" height="24px" src="./../assets/images/btn-footer-twitter.png"></span>
                <span style="width:10%"><img alt="Mail" height="24px" src="./../assets/images/btn-footer-mail.png"></span>
            </div>
        </div>
    </md-sidenav-container>
</div>