<!--
<h3 class="slist-title">
    <ng-container>{{'LIST.WELCOME'|translate}}</ng-container>
    {{title}}
</h3>
-->
<div class="slist">
    <div class="slist-search"><!-- hits -->
        <form>
            <md-input-container class="slist-search-input">
                <input mdInput placeholder="{{'LIST.WHATDOYOUWANT'|translate}}" id="listSearch" #term type="search"
                       name="search" [(ngModel)]="search">
            </md-input-container>
        </form>
        <div class="slist-article-direction">
            <div class="slist-article" *ngFor="let a of searchArticles" [style.background]="a.backGroundColor">
                <div class="article-item" (tap)="addToList(a)">
                    <span class="article-item-name">{{a.name}}</span>
                    <img alt="" *ngIf="a.img!='empty.png'" src="./../../../assets/articles/{{a.img}}">
                    <div alt="" *ngIf="a.img=='empty.png'" class="singleLetter">{{a.name.charAt(0).toUpperCase()}}</div>
                    <img alt="" *ngIf="!a.img" src="./../../../assets/articles/empty.png">
                    <span class="article-item-amount">{{a.amount}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="slist-no-articles"
         *ngIf="articlesList.length==0">
        <span style="margin: 1em;"><b>{{'LIST.CLEARLIST'|translate}}</b></span>
        <span style="margin: 1em;">{{'LIST.ADDARTICLES'|translate}}</span>
    </div>

    <!-- articles in shopping list -->
    <div class="slist-articles" style="margin: 1em 0">
        <div class="slist-article-direction">
            <div class="slist-article" *ngFor="let a of articlesList" [style.background]="a.backGroundColor">
                <!--<div style="width: 90%;margin: 0.1em;"></div>-->
                <div class="article-item" style="touch-action:auto"
                         (doubletap)="addArticleAmount(a.amount)" (tap)="selectArticleInList(a)"
                        (swiperight)="setToBasket(a, true)" (swipeleft)="setToBasket(a, false)">
                    <span class="article-item-name">{{a.name}}</span>
                    <img alt="" *ngIf="a.img!='empty.png'" src="./../../../assets/articles/{{a.img}}">
                    <div alt="" *ngIf="a.img=='empty.png'" class="singleLetter">{{a.name.charAt(0).toUpperCase()}}</div>
                    <span class="article-item-amount">{{a.amount}}</span>
                    <span class="article-item-info-icon" *ngIf="a.description">i</span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="triangle-down"></div>-->
    <div class="slist-article-details">
        <div class="slist-article-detail-box">
            <div class="slist-article-detail-box-content">
                <div>
                    <span>
                    <md-input-container style="width: 67%; background:#666; border-radius: 2px;">
                        <input mdInput placeholder="{{'LIST.AMOUNT'|translate}}" type="input" name="amount" id="amount"
                               [(ngModel)]="selectedArticleList.amount">
                    </md-input-container>
                    </span>
                    <span style="flex:1"></span>
                    <span><button md-raised-button class="slist-article-detail-plusminus"
                                  (tap)="addArticleAmount(selectedArticleList.amount)">+</button></span>
                    <span><button md-raised-button class="slist-article-detail-plusminus"
                                  (tap)="reduceArticleAmount(selectedArticleList.amount)">-</button></span>
                </div>
                <div style="margin:1em 0">
                    <md-input-container style="width: 100%;old-background: white; background: #666; border-radius: 2px;">
                        <textarea mdInput placeholder="{{'LIST.DESCRIPTION'|translate}}" type="input" name="description"
                                  [(ngModel)]="selectedArticleList.description"></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="verticalLine">&nbsp;</div>
            <div class="slist-article-detail-box-buttons">
                <div class="slist-article-detail-button" *ngIf="!selectedArticleList.isInBasket" (tap)="setToBasket(selectedArticleList, true)">
                    <img alt="put in basket" class="slist-article-detail-button" src="./../assets/images/button_article_not_in_basket.png">
                </div>
                <div class="slist-article-detail-button" *ngIf="selectedArticleList.isInBasket" (tap)="setToBasket(selectedArticleList, false)">
                    <img alt="remove from basket" class="slist-article-detail-button" src="./../assets/images/button_article_in_basket.png">
                </div>
                <div class="slist-article-detail-button" (tap)="removeArticleFromSList(selectedArticleList)">
                    <img alt="remove from shopping list" class="slist-article-detail-button" src="./../assets/images/button_remove_from_shopping_list.png">
                </div>
                <div class="slist-article-detail-button">
                    <img alt="remove from catalog" class="slist-article-detail-button" src="./../assets/images/button_remove_from_catalog.png">
                </div>
                <div class="slist-article-detail-button" (tap)="updateSList(selectedArticleList)">
                    <button md-button class="slist-article-detail-plusminus" style="margin:.5em 0 0 -12px">{{'LIST.OKOK'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent articles - w amount -->
    <div class="slist-catalog">
        <div style="margin: 1em 0;">
        <span class="sList-catalog-item-name-default">
            <i *ngIf=" userarticleRecent.style.display=='none'" class="material-icons">keyboard_arrow_down</i>
            <i *ngIf=" userarticleRecent.style.display!='none'" class="material-icons">keyboard_arrow_up</i>
            <span (tap)="toggleCatalog(userarticleRecent)" style="cursor: pointer;">{{'LIST.RECENT'|translate}}</span>
        </span>
            <div style="display:none;" class="slist-articles" #userarticleRecent>
                <div class="slist-article-direction">
                    <div class="slist-article" *ngFor="let a of recentArticles" style="background: #F24646">
                        <div class="article-item">
                            <span class="article-item-name">{{a.name}}</span>
                            <img alt="" *ngIf="a.img!='empty.png'" src="./../../../assets/articles/{{a.img}}">
                            <div alt="" *ngIf="a.img=='empty.png'" class="singleLetter">{{a.name.charAt(0).toUpperCase()}}</div>
                            <span class="article-item-info-icon" *ngIf="a.description" style="align-self: flex-end;margin: 5px;">i</span>
                            <span class="article-item-amount">{{a.amount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- users own articles - w amount -->

    <div class="slist-catalog">
        <div *ngFor="let p of usersCatalogs; let i=index" style="margin: 1em 0;">
        <span class="sList-catalog-item-name-default">
            <i *ngIf="userarticle.style.display == 'none'" class="material-icons">keyboard_arrow_down</i>
            <i *ngIf="userarticle.style.display != 'none'" class="material-icons">keyboard_arrow_up</i>
            <span (tap)="toggleCatalog(userarticle)" style="cursor: pointer;">{{p.name}}</span>
        </span>
            <div style="display:none;" class="slist-articles" #userarticle>
                <div class="slist-article-direction">
                    <div class="slist-article" *ngFor="let a of p.articles" (tap)="addToList(a)">
                        <div class="article-item">
                            <span class="article-item-name">{{a.name}}</span>
                            <img alt="" *ngIf="a.img!='empty.png'" src="./../../../assets/articles/{{a.img}}">
                            <div alt="" *ngIf="a.img=='empty.png'" class="singleLetter">{{a.name.charAt(0).toUpperCase()}}</div>
                            <span class="article-item-info-icon" *ngIf="a.description" style="align-self: flex-end;margin: 5px;">i</span>
                            <span class="article-item-amount">{{a.amount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main catalog - w/o amount -->
    <div class="slist-catalog">
        <div *ngFor="let p of catalogs; let i=index" style="margin: 1em 0;">
        <span class="sList-catalog-item-name-default">
            <i *ngIf=" articles.style.display=='none'" class="material-icons">keyboard_arrow_down</i>
            <i *ngIf=" articles.style.display!='none'" class="material-icons">keyboard_arrow_up</i>
            <span (tap)="toggleCatalog(articles)" style="cursor: pointer;">{{ p.name }}</span>
        </span>
            <div style="display:none;" class="slist-articles" #articles>
                <div class="slist-article-direction">
                    <div class="slist-article" *ngFor="let a of p.articles" (tap)="addToList(a)">
                        <div class="article-item">
                            <span class="article-item-name">{{a.name}}</span>
                            <img alt="" *ngIf="a.img!='empty.png'" src="./../../../assets/articles/{{a.img}}">
                            <div alt="" *ngIf="a.img=='empty.png'" class="singleLetter">{{a.name.charAt(0).toUpperCase()}}</div>
                            <span class="article-item-info-icon" *ngIf="a.description">i</span>
                            <span class="article-item-amount">{{a.amount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
