$COLOR_CATALOGITEM: #58c;

.slist {
  height: 100%;
}

.slist-title {
  margin-left: 8px;
}

.slist-search-input {
  margin: 0 8px;
}

.slist-myItems {
  min-height: 20vh;
}

.slist-article-direction {
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
}

//.slist-article{
//    display: inline;
//}
// .slist-article:hover{
//     box-shadow: none;
// }
.slist-article {
  // box-shadow: 5px 5px 2px 0px #9E9E9E;
  display: inline-block;
  flex-grow: 1;
  height: 110px;
  width: calc(100% * (1 / 3) - 10px - 1px);
  max-width: 110px;
  margin: 0.3em;
  border-radius: 5px;
  background: $COLOR_CATALOGITEM;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 415px) { // iphone 6/7plus 414px, nexus 6P 412
  .slist-article {
    height: 100px;
    width: 24.15%;
    max-width: 24.15%;
    margin: 0.42%;
  }
}

@media only screen and (max-width: 376px) { // iphone 6/7: 375 px
  //.slist-article { height: 114px; width: calc(100% * (1/3) - 2px); max-width: 114px; margin: 3px;}
  .slist-article {
    height: 115px;
    width: 31%;
    max-width: 31%;
    margin: 1.166%;
  }
}

@media only screen and (max-width: 361px) { // Galaxy 5s: 360 px
  .slist-article {
    height: 111px;
    width: 31%;
    max-width: 31%;
    margin: 1.166%;
  }
}

@media only screen and (max-width: 321px) { // iphone oroig: 320
  .slist-article {
    height: 100px;
    width: 31.25%;
    max-width: 31.25%;
    margin: 1.04%;
  }
}

.slist-article-details {
  width: 100%;
  background: #555;
  flex-direction: column;
  margin: 1em 0;
  display: none;
}

.slist-article-detail-box {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  width: 100%;
}

.slist-article-detail-box-content {
  width: 75%;
  margin: 0.3em;
}

.slist-article-detail-plusminus {
  min-width: 0px;
  min-height: 30px;
  background: #aaa;
}

.slist-article-detail-box-buttons {
  width: 24%;
  margin: 0;
  max-width: 100px;
}

.slist-article-detail-box-buttons {
  display: flex;
  flex-direction: column;
}

.verticalLine {
  border-left: thick solid #aaa;
}

.slist-article-detail-button {
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin: 1em auto;
  background: #555;
  cursor: pointer;
}

.triangle-down {
  text-align: center;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #bbb;
}

.slist-article-item {
  display: flex;
  flex-direction: column;
  height: inherit;
  color: white;
}

// accordeon headers with catalog categories
.sList-catalog-item-name-default {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  color: white;
  background: #555;
}

.article-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.article-item-info-icon {
  width: 16px;
  height: 20%;
  border-radius: 50%;
  float: right;
  top: 0;
  color: red;
  background: white;
  align-self: flex-end;
  margin: 5px;
}

.article-item-name {
  height: 20%;
  width: 90%;
  overflow: hidden;
  font-size: 85%;
  padding-top: 5px;
}

.article-item img {
  height: 60%
}

.article-item-amount {
  height: 18%;
  font-size: 70%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.article-item:focus, .article-item:hover {
  border: 1px solid rgba(81, 203, 238, 1);
}

