    <div class="help-container help-alignment">
        <h3>{{'FINISH.TITLE'|translate}}</h3>
        <div>
            <div>
                <md-checkbox [(ngModel)]="finished">{{'FINISH.YES'|translate}}</md-checkbox>
            </div>
            <div>
                <md-checkbox [(ngModel)]="articles">{{'FINISH.REMOVE'|translate}}</md-checkbox>
                <div>{{'FINISH.TICKTHIS'|translate}}</div>
            </div>
        </div>
        <div class="delete-buttons">
            <button style="background: gray" md-button (tap)="finsihSlist()">{{'FINISH.SAVE'|translate}}</button>
            <button style="background: gray" md-button (tap)="cancel()">{{'FINISH.CANCEL'|translate}}</button>
        </div>
    </div>