
<div class="start-container start-alignment">
    <div class="start-alignment start-content">
        <span>{{'HOME.TXT1'|translate}}</span>
        <span>{{'HOME.TXT2'|translate}}</span>
        <span>{{'HOME.TXT3'|translate}}</span>
        <span>{{'HOME.TXT4'|translate}}</span>
    </div>
    <div class="start-alignment start-button">
        <a [routerLink]="['/create']" md-raised-button>{{'HOME.GETSTARTED'|translate}}</a>
        <span>{{'HOME.LETSGO'|translate}}</span>
    </div>
    <div class="start-alignment start-help">
        <span><ng-container>{{'HOME.QUESTIONS'|translate}}</ng-container>ng-container>
          <a [routerLink]="['/help']"><ng-container>{{'HOME.HELP'|translate}}</ng-container>ng-container></a>
        </span>
    </div>
</div>
