<div class="box-alignment">
    <div class="item-alignment title"><b>{{'LISTS.TITLE'|translate}}</b></div>
    <div *ngIf="sListsEmpty">
        <div class="mylists-no">{{'LISTS.NONEFOUND'|translate}}</div>
        <div class="mylists-no">{{'LISTS.NEWDEVICE'|translate}}</div>
        <md-input-container style="width: 100%">
            <input mdInput placeholder="name"  name="name" [(ngModel)]="name">
        </md-input-container>
        <md-input-container style="width: 100%">
            <input mdInput placeholder="email"  name="email" [(ngModel)]="email">
        </md-input-container>
        <button md-button style="background:gray;margin: auto;display: flex;align-items: center;justify-content: center;" (tap)="searchSLists()">search</button>
    </div>
    <div *ngIf="sLists && sLists.length>0">
        <div class="mylists-no" style="color: #1c5792">{{'LISTS.RECENTLISTS'|translate}}</div>
        <div *ngFor="let a of sLists" class="sList" (tap)="goToSlist(a)">
            <div class="list-details"><h5>{{a.title}}</h5></div>
            <div class="list-details">{{a.description}}</div>
        </div>
        <button md-button style="background:gray;margin: auto;display: flex;align-items: center;justify-content: center;" (tap)="createNewList()">{{'LISTS.CREATELIST'|translate}}</button>
    </div>
</div>