<div class="box-alignment">
    <div class="item-alignment title"><h3>{{'LISTS.TITLE'|translate}}</h3></div>
    <div *ngIf="sListsEmpty">
        <div class="mylists-no">{{'LISTS.NONEFOUND'|translate}}</div>
        <div class="mylists-no">{{'LISTS.NEWDEVICE'|translate}}</div>
        <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'LISTS.NAME'|translate}}"  name="name" [(ngModel)]="name">
        </md-input-container>
        <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'LISTS.EMAIL'|translate}}"  name="email" [(ngModel)]="email">
        </md-input-container>
        <button md-button class="lists-button" (tap)="searchSLists()">{{'LISTS.SEARCH'|translate}}</button>
    </div>
    <div *ngIf="sLists && sLists.length > 0">
        <div class="mylists-no">{{'LISTS.RECENTLISTS'|translate}}</div>
        <div *ngFor="let a of sLists" class="sList" (tap)="goToSlist(a)">
            <div class="list-details"><h4>{{a.title}}</h4></div>
            <div class="list-details">{{a.description}}</div>
        </div>
        <button md-button class="lists-button" (tap)="createNewList()">{{'LISTS.CREATELIST'|translate}}</button>
    </div>
</div>
